// Colors
$primary-color: #2c72b8;
$primary-light-1: #9acdff;
$primary-light-2: #7dbeff;

$background-color: #2c72b8;

$white: #ffffff;
$black: #000000;

$grey-1: #eeeeee;
$gery-2: #b3b3b3;
$grey-3: #636363;
$grey-4: #d4d4d4;
$grey-5: #454545;
$grey-dark: #212121;

// Fonts
$body-font: "Kanit", sans-serif;

// Spacing
$spacing-unit-small: 8px; // 8px
$spacing-unit-medium: 16px; // 16px
$spacing-unit-large: 24px; // 24px

// Border Radius
$rounded-sm: 8px; // Small border radius
$rounded-lg: 16px; // Large border radius
$rounded-xl: 24px; // Extra Large border radius

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$xl-desktop: 1560px;
