@import '../../../styles/mixins';
@import '../../../styles/variables';

.battle-card {
  display: flex;
  column-gap: 2.5rem;
  max-width: 518px;
  min-width: 470px;
  min-height: 350px;
  padding: 2.5rem;
  border: 4px solid $primary-light-2;
  border-radius: $rounded-lg;
  background-color: $white;
  position: relative;

  &__loser {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba($background-color, 0.8);
    border-radius: $rounded-sm;
    // overflow: hidden;
  }

  &__winner {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &__media {
    flex: 1;
    text-align: center;
    img {
      width: 192px;
      height: 186px;
      object-fit: contain;
      margin-bottom: 1.5rem;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: $grey-dark;
  }

  &__type {
    font-size: 1.125rem;
    line-height: 0.69;
    font-weight: 400;
    color: $grey-3;
  }

  &__stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    &-header {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
      color: $grey-dark;
      margin-bottom: 0.75rem;
    }
  }

  &__stat {
    &-info {
      padding: 0 0.5rem;
      border-top: 1px solid $grey-4;
      border-bottom: 1px solid $grey-4;
    }

    &-value {
      font-size: 1.125rem;
      font-weight: 400;
      color: $grey-dark;
      line-height: 2.2;
    }
  }

  &__moves {
    display: flex;
    border-bottom: 1px solid $grey-4;
    padding: 0.5rem;

    &-list {
      span {
        display: inline-block;
        color: $grey-5;
        font-size: 1.125rem;
        font-weight: 400;
      }
    }
  }

  .stat-label {
    min-width: 56px;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: $grey-3;
  }

  @include respond-to('desktop') {
    max-width: 480px;
    min-width: 350px;
    column-gap: 1.5rem;
    flex-direction: column;

    &__media {
      img {
        width: 150px;
        height: 140px;
        margin-bottom: 1.5rem;
      }
      display: flex;
      flex: 1;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }

    &__name {
      font-size: 1rem;
      line-height: 1.25;
    }

    &__type {
      font-size: 1rem;
    }

    &__stats {
      row-gap: 0.5rem;

      &-header {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    &__stat {
      &-value {
        font-size: 1rem;
        line-height: 1;
      }
    }

    &__moves {
      &-list {
        span {
          font-size: 1rem;
          display: block;
        }
      }
    }
  }

  @include respond-to('tablet') {
    max-width: 480px;
    min-width: 350px;
  }
}

.select-card {
  max-width: 518px;
  min-width: 470px;
  height: 350px;
  padding: 2rem;
  border: 4px solid $primary-light-2;
  border-radius: $rounded-lg;
  background-color: $white;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include respond-to('desktop') {
    max-width: 480px;
    min-width: 350px;
  }
}
