@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  margin-top: 4rem;
}

.battle {
  max-width: $desktop;
  margin: 0 auto;
  &__title {
    margin-bottom: 64px;
    font-size: 40px;
    font-weight: 400;
    color: $white;
    text-align: center;
    line-height: 1;
  }

  &__box {
    display: flex;
    column-gap: 68px;
    margin-bottom: 64px;
  }

  &__card-wrapper {
    max-width: 519px;
    min-width: 470px;
    flex: 1;
  }

  &__vs-img {
    align-self: flex-end;
    margin-bottom: 80px;
    width: 107px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__cta {
    text-align: center;
  }

  @include respond-to('tablet') {
    &__box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @include respond-to('desktop') {
    &__card-wrapper {
      max-width: 480px;
      min-width: 350px;
    }

    &__vs-img {
      width: 80px;
      align-self: center;
      margin-bottom: 0;
    }
  }
}

.search {
  margin-bottom: 24px;
}
